<h2 style="text-align:center;">{{ message }}</h2>
<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">
                <div class="col-25">
                    <div class="check-container">
                        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i><b>{{ quantity }}</b></span></h4>
                        <table>
                            <tr>
                                <th><h5>Items</h5></th>
                                <th><h5>Quantity</h5></th>
                                <th><h5>Price</h5></th>
                            </tr>
                            <tr ng-repeat="cartItem in cart">
                                <td>item</td>
                                <td>{{cartItem.quantity}}</td>
                                <td>$ {{(cartItem.item.price * cartItem.quantity).toFixed(2)}}</td>
                            </tr>
                        </table>
                        <hr>
                        <p>Total <span class="price" style="color:black"><b>$ {{ total }}</b></span></p>
                    </div>
                </div>
                <input value="Order Now" class="btn btn-success" ng-click="checkout()">
                <input value="Remove Cart" style="background-color: red" class="btn btn-danger" ng-click="removeCart()">
            </form>
        </div>
    </div>
</div>
