<div class="container2">
    <!-- Left Column / Desktop Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="images/dell_desktop.jpg" alt="">
    </div>
  
  
    <!-- Right Column -->
    <div class="right-column">
  
      <!-- Product Description -->
      <div class="product-description">
        <span>{{ message }}</span>
        <h1>Dell OptiPlex 9020 SFF Computer i5</h1>
        <p>{{computer.details}}</p>
      </div>

      <div class="product-color">
        <span>Quantity:</span>
        <input type="text" class="product-quantity" name="quantity" value="1" ng-size="2" ng-model="item.desktop.quantity" />
      </div>
      
      <!-- Product Pricing -->
      <div class="product-price">
        <span>${{(computer.price * item.desktop.quantity).toFixed(2)}}</span>
        <input type="submit" value="Add to Cart" class="cart-btn" ng-click="addToCart(computer, item.desktop.quantity)" />
      </div>
    </div>
</div>
