<div class="container2">
    <!-- Left Column / Laptop Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="images/dell_laptop.jpg" alt="">
    </div>
  
  
    <!-- Right Column -->
    <div class="right-column">
  
      <!-- Product Description -->
      <div class="product-description">
        <span>{{ message }}</span>
        <h1>Dell Latitude E5570 Intel i5</h1>
        <p>{{ computer.details }}</p>
      </div>

      <div class="product-color">
        <span>Quantity:</span>
        <input type="text" class="product-quantity" name="quantity" value="1" ng-size="2" ng-model="item.laptop.quantity" />
      </div>

      <!-- Product Pricing -->
      <div class="product-price">
        <span>${{(computer.price * item.laptop.quantity).toFixed(2)}}</span>
        <input type="submit" value="Add to Cart" class="cart-btn" ng-click="addToCart(computer, item.laptop.quantity)" />
      </div>
    </div>
</div>
