<div class="container2">
    <!-- Left Column / Desktop Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="images/dell_desktop.jpg" alt="">
    </div>
  
  
    <!-- Right Column -->
    <div class="right-column">
  
      <!-- Product Description -->
      <div class="product-description">
        <span>{{ message }}</span>
        <h1>Dell OptiPlex 9020 SFF Computer i5</h1>
        <p>The best and top brand in that we use for all Desktop's. We are very happy to be selling this product as it is one of our most sought out Desktop items on our shop!</p>
      </div>

      <div class="product-color">
        <span>Quantity:</span>
        <input type="text" class="product-quantity" name="quantity" value="1" ng-size="2" ng-model="item.desktop.quantity" />
      </div>
      
      <!-- Product Pricing -->
      <div class="product-price">
        <span>$299.99</span>
        <input type="submit" value="Add to Cart" class="cart-btn" ng-click="addToCart(item.desktop)" />
      </div>
    </div>
</div>