<h2 class="welcome">{{ message }}</h2>

<div class="container" style="text-align: center;">
    <form name="loginForm" class="form-horizontal" role="form">
          <div class="form-group">
              <div class="center col-sm-7">
                <span class="block input-icon input-icon-right">
                      <input type="text" class="form-control" placeholder="Email / Username" name="email" ng-model="login.email" required focus/>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <div class="center col-sm-7">
                <span class="block input-icon input-icon-right">
                      <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                  </span>
              </div>
          </div>
          <div class="space"></div>
          <div class="clearfix">
              <div class="row">
                <div class="center ol-sm-7">
                  <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                      Login
                  </button>
                </div>
              </div>
            </div>
            <div class="space-4"></div>
          <span class="lbl col-sm-3"> </span><div class="center col-sm-7">Don't have an account? <a href="#/signup">Sign Up</a></div>
      </form>
  </div>