<div class="container2">
  <!-- Left Column / T-Shirt Image -->
  <div class="left-column" style="width: 40%;margin: 0 20%;">
    <img data-image="black" src="images/tshirt_black.jpg" alt="">
    <img data-image="blue" src="images/tshirt_blue.jpg" alt="">
    <img data-image="white" src="images/tshirt_white.jpg" alt="">
    <img data-image="red" class="active" src="images/tshirt_red.jpg" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{ message }}</span>
      <h1>T-Shirt</h1>
      <p>The preferred choice of a vast range of Clothes we sell here on Ronny and Tyler's Clothing. Have one of the most sought out brands with a breathable shirt. Choose from our vast vriaty of colors.</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Color:</span>

        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" ng-model="item.color" ng-checked="true" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue" ng-model="item.color">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <div>
              <input data-image="white" type="radio" id="white" name="color" value="white" ng-model="item.color">
              <label for="white"><span></span></label>
            </div>
            <div>
            <input data-image="black" type="radio" id="black" name="color" value="black" ng-model="item.color">
            <label for="black"><span></span></label>
          </div>
        </div>

      </div>

    <!-- Product Size -->
    <div class="product-color">
      <span>Size:</span>
        <div>
          <input type="radio" id="small" name="size" value="small" ng-model="item.size">
          <label for="small"><span>Small</span></label>
        </div>
        <div>
          <input type="radio" id="medium" name="size" value="medium" ng-model="item.size" ng-checked="true" checked>
          <label for="medium"><span>Medium</span></label>
        </div>
          <div>
            <input type="radio" id="large" name="size" value="large" ng-model="item.size" >
            <label for="large"><span>Large</span></label>
          </div>
    </div>

    <div class="product-color">
      <span>Quantity:</span>
      <input type="text" class="product-quantity" name="quantity" value="1" ng-size="2" ng-model="item.quantity" />
    </div>
    
    <!-- Product Pricing -->
    <div class="product-price">
      <span>$4.99</span>
      <input type="submit" value="Add to Cart" class="cart-btn" ng-click="addToCart(item)" />
    </div>
  </div>
</div>
